html body{
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
}

canvas
{
  position:fixed;
  top:0px;
  left:0px;
}

body{
  z-index: -1;
}

#navbar {
  background-color: #333; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  text-align: center;
}

/* Style the navbar links */
#navbar p {
  float: center;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

#navbar p:hover {
  background-color: black;
  color: white;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

/* Style the pageHeader */
.pageHeader {
  margin-top:3rem;
  text-align: center;
  background-color: dimgray;
  color: beige;
  position: relative;
}

/* Page content */
.content {
 padding: 0rem;
 z-index: 1;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
 position: fixed;
 top: -3rem;
 width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
 padding-top: 2rem;
}

.dFooter{
  color: black;
  background-color: lightgray;
  text-align: center;
  padding: 0px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pFooter{
  font-size: 0.8rem;
}

.container {
  position: relative;
  text-align: center; /*This centres the plot*/
}

#description{
  text-align: center;
}

#svgPlot {
  background-color: seashell;
  text-align: center;
  align-items: center;
}

.cell{
  background-color: black;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 3px 5px 3px 5px;
  font: 1em sans-serif;
  border: 0px;
  border-radius: 5px;
  pointer-events: none;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  background-color: black;
}

.year {
  font-family: Roboto, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
  white-space: nowrap;
}

.temperature {
  font-family: Roboto, sans-serif;
  font-size: 0.95em;
  font-weight: bolder;
  color: white;
  white-space: nowrap;
}

.variance {
  font-family: Roboto, sans-serif;
  font-size: 0.8em;
  font-weight: normal;
  color: white;
  white-space: nowrap;
}

.details {
  font-family: Roboto, sans-serif;
  font-size: 0.7em;
  font-weight: 300;
  text-align: center;
  padding: 0px;
}
